body
{
    margin:1%;
    padding:2%;
}
#main #title h1
{
    display: inline;
    font-size:50;
}
#main #img-div #img{
    display:inline;
}
#main #img-caption figcaption
{
display: inline;
margin-bottom:-20px;
margin-right:50px; 
font-family: 'DM Serif Text', serif;
font-size: larger;


}
#main #tribute-info 
{
    font-family: 'Indie Flower', cursive;
    font-size: x-large;
    float:right;
 margin-top:-555px;
 margin-left:600px;
}
#main #tribute-link
{
    float:right;
 margin-bottom:-50px;
 margin-right:100px;
}